body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background-image: radial-gradient(circle at 50% -20.71%, #ffe1d2 0, #fde2d1 10%, #fbe3cf 20%, #f8e4ce 30%, #f5e5cd 40%, #f2e6cd 50%, #efe7cd 60%, #ebe8ce 70%, #e7e9cf 80%, #e4ead0 90%, #e0ebd2 100%);
}
.page {
    width: 1000px;
   margin: 0 auto ;
   padding-top: 65px;
}

nav {
    display: flex;
    justify-content: space-between ;
    align-content: center;
    margin-bottom: 55px;
}
ul {
    display: flex;
    list-style: none;
    gap: 48px;
    margin: 0;
    padding: 0;
    font-family: 'Mulish', sans-serif;

}

a {
    color: blue;
    text-decoration: none;
}

ul li a:hover {
    font-weight: bold;
}

h1{
    font-family: 'Mulish', sans-serif;
    font-size: 49px;
    line-height: 56px;
    color: black;
    font-weight: normal;
}
main {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
h1 span {
    color:aqua;
    font-weight: bold;
}
section p {
    font-size: 14px;
    line-height: 28px;
    color: gray;
    margin: 40px 0;
}
button {
    color: white;
    align-items: center;
    display: flex;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    gap: 10px;
    height: 50px;
    background: green;
    border: none;
    justify-content: center;
    padding: 14px 32px 15px;
    border-radius: 4px;
}
button:hover {
    background-color: rgb(1, 88, 1)
}

 button p {
color: white;
} 
footer {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

footer a {
    font-weight: bold;
    text-align: center;
    margin-top: 80px;
}
#balls {
    position: fixed;
    bottom: 0;
    right: 0;
}